# Ignore compiled files
CMinus

# Ignore testing files
test

# Ignore clangd config
compile_flags.txt
.clangd

# Ignore generated documentation
html/
latex/

# Ignore CMake files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore Generated Makefile
Makefile
