# Ignore compiled files
CMinus

# Ignore testing files
test

# Ignore clangd config
compile_flags.txt
.clangd

# Ignore generated documentation
docs/

# Ignore CMake files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore Generated Makefile
Makefile

# Ignore direnv
.direnv/
.envrc

# Ignore Nix Build output
result
